# dependencies
/node_modules

# testing
/coverage

# build output (cPanel bundle)
/dist-cpanel-php

# local DB / PHP deps
/site/data/cavemen.db
/site/vendor

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files
.env*
